@charset "UTF-8";
.project-header {
	background: rgba(137,138,194,1.00);
	padding-left: 48px;
	height: 371px;
	line-height: 371px;
}

.project-image {
	width: auto;
	height: 300px;
	display: inline-block;
	vertical-align: middle;
}
.project-info {
	display: inline-block;
	vertical-align: middle;
	height: 300px;
	background: #234223;
	line-height: initial;
}

.inline-block{
/*	display: inline-block;*/
}

.projet-image-gap{
	margin-left: 51px;
}

.project-info-gap{
	margin-top: 20px;
}
