<header class="slant-hero-section">
	<div class="bottom-right-slant"></div>
</header>
<div class="container big-top-margin">
	<form (ngSubmit)="doLogin()" #loginForm="ngForm">
		<div class="row">
			<div class="input-field col s12 m6 l4 offset-m3 offset-l4">
				<input id="email" type="text" name="email" [(ngModel)]="attempt.email" required>
				<label for="email">Email</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6 l4 offset-m3 offset-l4">
				<input type="password" name="password" [(ngModel)]="attempt.password" required>
				<label for="password">Password</label>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m2 offset-m4 l3 offset-l4">
				<button class="waves-effect waves-light btn" [disabled]="!loginForm.form.valid" type="button" (click)="doLogin()">Login</button>
			</div>
			<div class="col s12 m5 l2">
				<a id="signup" class="waves-effect waves-light btn" routerLink="/signup">Sign up</a>
			</div>
		</div>
		<ng-container *ngIf="invalidUsernameOrPassword">
			<div class="row">
				<div class="col s12 m6 l4 offset-m3 offset-l4 center-align">
					Invalid username or password
				</div>
			</div>
		</ng-container>
	</form>
</div>

<footer>
	
</footer>