
#signup{
	background:#FF8559;
}

#wordmark{
	position: absolute;
	top:60px;
	left:60px;
}

#footer-list{
	margin-top:40px;
	margin-left:60px;
}

#footer-list>li{
	margin-bottom:20px;
}

#copyright{
	position: absolute;
	bottom:20px;
	left:60px;
	font-size:0.8em;
}