<header>
	<a class="logo-container" routerLink="/home">
		<img src="assets/logo.svg" alt="logo">
	</a>

	<div class="search-box">
		<input type="text" placeholder="Search">
	</div>

	<ul class="menu-links">
		<li class="new-project">
			<a>
				<img src="assets/plus.svg" alt="plus">
				New Project
			</a>
			</li>
		<li>
			<a>
				<div class="profile-pic" [style.background-image]="'url('+user.thumbnailUrl+')'">
				</div>
				{{user.firstName}} {{user.lastName}}
			</a>
		</li>
	</ul>
	
</header>
<p>
  header works!
  <a routerLink="new-project">New Project</a>
</p>
