$header-height:60px;

header{
	width: 100%;
	height: $header-height;

	background-image: -webkit-linear-gradient(top left, #A97EC0 0%, #DC81A5 100%);
	background-image: -o-linear-gradient(top left, #A97EC0 0%, #DC81A5 100%);
	background-image: linear-gradient(to bottom right, #A97EC0 0%, #DC81A5 100%);
	margin-bottom: 0;
}

.logo-container{
	height: $header-height;
	margin-left: 10px;
	padding-top:12px;
	padding-bottom: 12px;
	display: inline-block;
	color: #fff;
	vertical-align: top;
}

.logo-container img{
	width:auto;
	height: 100%;
}

.search-box{
	float: initial;
	display: inline-block;
	vertical-align: top;
	height:$header-height;
	line-height: $header-height;
	margin-left: 20px;
}

.search-box input{
	background: #fff;
	display: inline-block;
	border: none;
	margin: 0;
	padding-left: 30px;
	height: 35px;
}

ul.menu-links {
	float: right;
	color: #fff;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	line-height: $header-height;
}

ul.menu-links li{
	display: inline-block;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	a{
		color: #fff;
	}
}

.profile-pic{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #da4a9d;
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 12px;
}

li.new-project img{
	vertical-align: text-bottom;
	margin-right: 12px;
	width: 20px;
}

ul.menu-links li:hover{
	background: rgba(0, 0, 0, 0.14);
}