<form (ngSubmit)="createNewProject()" #projectForm="ngForm">
	<input type="text" placeholder="Title" name="title" [(ngModel)]="project.title" required>
	<input type="text" placeholder="Description" name="description" [(ngModel)]="project.description" required>
	<input type="text" placeholder="One line description" name="tldr" [(ngModel)]="project.tldr" required>
	<button [disabled]="!projectForm.form.valid" type="button" (click)="createNewProject()">Create</button>
</form>

<ng-container *ngIf="message!=null">
	<div>{{message}}</div>
</ng-container>