$project-image-size:200px;
a.project-image{
	display: inline-block;
	float: left;
	overflow: hidden;
	height: $project-image-size;
}

.project-box:after{
	clear: both;
	content: "";
	display: block;
}

.project-details{
	overflow: hidden;
	padding-left: 30px;
	color: #646464;
	height: $project-image-size;
	a{
		color:#646464;
		text-decoration: none;
	}
	a:hover{
		color:#FF8559;
	}
}


@media only screen and (max-width: 600px) {
	.project-details{
		padding-left: 10px;
	}
}